h3 {
    text-align: center;
    font-size: 24px;
}

hr {
    border: 2px solid gray;
}

.graduacao {
    font-family: Arial;
    font-size: 24px; 
    color: blue;
}

.pos-graduacao {
    font-family: Arial;
    font-size: 24px; 
    font-weight: bold;
    color: green;
}

.mestrado {
    font-family: Arial;
    font-size: 24px; 
    font-style: italic;
    color: orange;
}

.doutorado {
    font-family: Arial;
    font-size: 24px; 
    text-decoration: underline;
    color: red;
}

pre {
    font-family: Arial;
    font-size: 30px; 
    color: magenta;
}